<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<!--Main site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-left"></i>All Movies</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Movie</h2>
            <span class="text-light">Use the form underneath to update movies</span>
        </div>
       <!-- add user form-->
        <!--form handling-->
 <form method="POST" id="add_movie">
    <div class="new_movie">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%=movie._id%>">
            <input type="text" name="movie_title" value="<%=movie.Movie_Title%>" placeholder="Spiderman">
        </div>
        <div class="form-group">
         <label for="date" class="text-light">Date</label>
         <input type="date" name="release_date" value="<%=movie.Release_date%>" placeholder="dd.mm.yyyy">
        </div>
        <div class="form-group">
         <label for="date" class="text-light">Box Office</label>
         <input type="number" name="box_office" value="<%=movie.Box_Office%>" placeholder="200.000.000.000">
        </div>
        <div class="form-group">
            <button type="submit" class="button">Save</button>
        </div>

    </div>
 </form>
 
    </div>
</main>
<!--/Main site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->